.discography {
  margin-top: 2rem;

  // .discography-header {
  //   margin-bottom: 1rem;
  // }

  .see-more-btn {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .discography-list {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
  }

  .discography-card {
    min-width: 150px;
    flex: 1;
    max-width: 200px;
    margin-bottom: 1rem;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
