APP_HOST=0.0.0.0
APP_PORT=6200
DATABASE_VENDOR=postgresql+psycopg
DATABASE_HOST=localhost
DATABASE_PORT=16200
DATABASE_USERNAME=echovibe_artistquery
DATABASE_PASSWORD=echovibe_artistquery
DATABASE_NAME=echovibe_artistquery
KAFKA_BROKER_BOOTSTRAP_SERVER_URLS=infras.echovibe.io.vn:9092
