APP_HOST=0.0.0.0
APP_PORT=6300
DATABASE_VENDOR=postgresql+psycopg
DATABASE_HOST=localhost
DATABASE_PORT=16300
DATABASE_USERNAME=echovibe_activity
DATABASE_PASSWORD=echovibe_activity
DATABASE_NAME=echovibe_activity
KAFKA_BROKER_BOOTSTRAP_SERVER_URLS=infras.echovibe.io.vn:9092
APP_WEB_CORS_ALLOWEDORIGINPATTERNS="*"
APP_WEB_CORS_ALLOWEDMETHODS="*"
APP_WEB_CORS_ALLOWEDHEADERS="*"
APP_WEB_CORS_ALLOWCREDENTIALS=True
APP_WEB_CORS_MAXAGE=60000
APP_WEB_CLIENT_PRODUCT_BASEURL=http://localhost:6200
