ENVIRONMENT=local
APP_HOST=0.0.0.0
APP_PORT=6120
DATABASE_VENDOR=postgresql+psycopg
DATABASE_HOST=localhost
DATABASE_PORT=16120
DATABASE_USERNAME=echovibe_trackquery
DATABASE_PASSWORD=echovibe_trackquery
DATABASE_NAME=echovibe_trackquery
KAFKA_BROKER_BOOTSTRAP_SERVER_URLS=infras.echovibe.io.vn:9092
APP_WEB_CORS_ALLOWEDORIGINPATTERNS="*"
APP_WEB_CORS_ALLOWEDMETHODS="*"
APP_WEB_CORS_ALLOWEDHEADERS="*"
APP_WEB_CORS_ALLOWCREDENTIALS=True
APP_WEB_CORS_MAXAGE=60000
