<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
  </ng-template>

  <ng-template #end>
    <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="products()"
  [rows]="10"
  [columns]="cols"
  [paginator]="true"
  [globalFilterFields]="['name', 'product.profile.name', 'profile.biography', 'tag']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedProducts"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Manage Artist</h5>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox />
      </th>
      <th style="min-width: 16rem">ID</th>
      <th pSortableColumn="ref_code" style="min-width: 16rem">
        Reference Code
        <p-sortIcon field="ref_code" />
      </th>
      <th pSortableColumn="profile.name" style="min-width: 16rem">
        Name
        <p-sortIcon field="profile.name" />
      </th>
      <th pSortableColumn="profile.biography" style="min-width: 16rem">
        Biography
        <p-sortIcon field="profile.biography" />
      </th>
      <th pSortableColumn="profile.description" style="min-width: 16rem">
        Description
        <p-sortIcon field="profile.description" />
      </th>
      <th>Thumbnail</th>
      <th>Background</th>
      <th pSortableColumn="isPublic" style="min-width: 12rem">
        Visibility
        <p-sortIcon field="isPublic" />
      </th>
      <th pSortableColumn="tags" style="min-width: 12rem">Tags</th>
      <th style="min-width: 12rem"></th>
    </tr>
  </ng-template>
  <ng-template #body let-product>
    <tr>
      <td style="width: 3rem">
        <p-tableCheckbox [value]="product" />
      </td>
      <td style="min-width: 12rem">{{ product.id }}</td>
      <td style="min-width: 12rem">{{ product.ref_code }}</td>
      <td style="min-width: 16rem">{{ product.profile.name }}</td>
      <td style="min-width: 16rem">{{ product.profile.biography }}</td>
      <td style="min-width: 16rem">{{ product.profile.description }}</td>
      <td>
        <img [src]="product.profile.thumbnailUrl" [alt]="product.profile.name" style="width: 64px" class="rounded" />
      </td>
      <td>
        <img [src]="product.profile.backgroundUrl" [alt]="product.profile.name" style="width: 64px" class="rounded" />
      </td>
      <td>
        <p-tag [value]="product.isPublic" [severity]="getSeverity(product.isPublic)" />
      </td>
      <td style="min-width: 12rem">Music, Production, Test</td>
      <td>
        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="productDialog" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [header]="isUpdate ? 'Update Artist Details' : 'Create New Artist'" [modal]="true">
  <ng-template pTemplate="content">
    <div class="flex flex-col gap-6">
      <img [src]="product.profile.thumbnailUrl" [alt]="product.profile.name" class="block m-auto pb-4 max-w-full h-48 object-contain" *ngIf="product.profile?.thumbnailUrl" />

      <div class="flex flex-wrap gap-2 w-full">
        <label for="thumbnailUrl" class="block font-bold mb-3">
          Thumbnail URL
          @if (thumbnailUrlValid) {
            <a [href]="product.profile.thumbnailUrl" target="_blank">
              <i class="pi pi-external-link"></i>
            </a>
          }
        </label>
        <input type="text" pInputText id="thumbnailUrl" [(ngModel)]="product.profile.thumbnailUrl" (ngModelChange)="checkUrls()" fluid />
        <p class="text-red-500 h-4 text-xs">
          @if (submitted && !product.profile.thumbnailUrl) {
            Thumbnail URL is required.
          }
        </p>
      </div>

      <div class="flex flex-col md:flex-row gap-6">
        <div class="flex flex-wrap gap-2 w-full">
          <label for="name" class="block font-bold mb-3">Name <span class="text-red-500">*</span></label>
          <input type="text" pInputText id="name" [(ngModel)]="product.profile.name" required autofocus fluid />
          <p class="text-red-500 h-4 text-xs">
            @if (submitted && !product.profile.name) {
              Name is required.
            }
          </p>
        </div>
        <div class="flex flex-wrap gap-2 w-full">
          <label for="name" class="block font-bold mb-3">Nationality</label>
          <!-- select -->
          <p-select [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" placeholder="Select a country" class="w-full">
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2" *ngIf="selectedOption">
                @if (selectedOption.code !== 'NULL') {
                  <span [class]="'fi fi-' + selectedOption.code.toLowerCase()"></span>
                }
                <div>{{ selectedOption.name }}</div>
              </div>
            </ng-template>
            <ng-template let-country #item>
              <div class="flex items-center gap-2">
                @if (country.code !== 'NULL') {
                  <span [class]="'fi fi-' + country.code.toLowerCase()"></span>
                }
                <div>{{ country.name }}</div>
              </div>
            </ng-template>
          </p-select>
          <p class="text-red-500 h-4 text-xs">
            @if (submitted && !product.isPublic) {
              Visibility is required.
            }
          </p>
        </div>
      </div>

      <div class="flex flex-wrap gap-2 w-full">
        <label for="biography" class="block font-bold mb-3">Biography</label>
        <textarea id="biography" pTextarea [(ngModel)]="product.profile.biography" required rows="3" cols="20" fluid></textarea>
        <p class="text-red-500 h-4 text-xs">
          @if (submitted && !product.profile.biography) {
            Biography is required.
          }
        </p>
      </div>
      <div class="flex flex-wrap gap-2 w-full">
        <label for="description" class="block font-bold mb-3">Description</label>
        <!-- <textarea id="description" pTextarea [(ngModel)]="product.profile.description" required rows="3" cols="20" fluid></textarea> -->
        <p-editor class="w-full" [(ngModel)]="product.profile.description" [style]="{ height: '150px' }" />
        <p class="text-red-500 h-4 text-xs">
          @if (submitted && !product.profile.description) {
            Description is required.
          }
        </p>
      </div>

      <div class="flex flex-wrap gap-2 w-full">
        <label for="backgroundUrl" class="block font-bold mb-3">
          Background URL
          @if (backgroundUrlValid) {
            <a [href]="product.profile.backgroundUrl" target="_blank">
              <i class="pi pi-external-link"></i>
            </a>
          }
        </label>
        <input type="text" pInputText id="backgroundUrl" [(ngModel)]="product.profile.backgroundUrl" (ngModelChange)="checkUrls()" fluid />
        <p class="text-red-500 h-4 text-xs">
          @if (submitted && !product.profile.backgroundUrl) {
            Background URL is required.
          }
        </p>
        <img [src]="product.profile.backgroundUrl" [alt]="product.profile.name" class="block m-auto pb-4 max-w-full h-48 object-contain" *ngIf="product.profile?.backgroundUrl" />
      </div>

      <div *ngIf="isUpdate">
        <label for="refCode" class="block font-bold mb-3">Reference Code</label>
        <input type="text" pInputText id="refCode" [(ngModel)]="product.ref_code" fluid />
        <small class="text-red-500" *ngIf="submitted && !product.ref_code">Reference Code is required.</small>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
  </ng-template>
</p-dialog>
<p-toast position="top-center" key="br" />
<p-confirmdialog [style]="{ width: '450px' }" />
