<!-- Toolbar -->
<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button
      i18n-label="@@BUTTON_LABEL_CREATE"
      label="Create"
      icon="pi pi-plus"
      severity="secondary"
      class="mr-2"
      (onClick)="handleNewArtist()"
    />

    <p-button
      class="ml-2"
      severity="secondary"
      i18n-label="@@BUTTON_LABEL_EDIT"
      label="Delete"
      icon="pi pi-pencil"
      outlined
      (onClick)="handleEditSelectedArtists()"
      [disabled]="!selectedArtists.length"
    />
    <p-button
      class="ml-2"
      severity="secondary"
      i18n-label="@@BUTTON_LABEL_RELEASE"
      label="Delete"
      icon="pi pi-bolt"
      outlined
      (onClick)="handleReleaseSelectedArtists()"
      [disabled]="!selectedArtists.length"
    />
    <p-button
      class="ml-2"
      severity="secondary"
      i18n-label="@@BUTTON_LABEL_DELETE"
      label="Delete"
      icon="pi pi-trash"
      outlined
      (onClick)="handleDeleteSelectedArtists()"
      [disabled]="!selectedArtists.length"
    />
  </ng-template>

  <ng-template #end>
    <p-button
      severity="secondary"
      i18n-label="@@BUTTON_LABEL_IMPORT_CSV"
      label="Import CSV"
      icon="pi pi-file-import"
      class="mr-2"
    />
    <p-button
      label="Export"
      icon="pi pi-upload"
      severity="secondary"
      (onClick)="handleExportCsv()"
      [disabled]="!selectedArtists.length"
    />
  </ng-template>
</p-toolbar>

<!-- List of Artists -->
<p-table
  #dt
  [value]="artists()"
  [rows]="5"
  [columns]="columns"
  [paginator]="true"
  [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedArtists"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5, 10, 50, 100]"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0" i18n="@@PAGE_LABEL_MANAGE_ARTIST">Manage Artists</h5>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="handleGlobalFilter(dt, $event)"
          i18n-placeholder="@@INPUT_PLACEHOLDER_SEARCH"
          placeholder="Search ..."
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <!-- Checkbox -->
      <th style="width: 4rem">
        <p-tableHeaderCheckbox />
      </th>

      <!-- Action Buttons -->
      <th style="min-width: 12rem">Action</th>

      <!-- ID -->
      <th style="width: 8rem">ID</th>

      <!-- Thumbnail -->
      <th style="min-width: 8rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_THUMBNAIL">Thumbnail</th>

      <!-- Name -->
      <th pSortableColumn="name" style="min-width: 12rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_NAME">
        Name
        <p-sortIcon field="name" />
      </th>

      <!-- Nationality -->
      <th i18n="@@COLUMN_LABEL_MANAGE_ARTIST_NATIONALITY" pSortableColumn="nationalityIsoCode" style="min-width: 12rem">
        Nationality
        <p-sortIcon field="nationalityIsoCode" />
      </th>

      <!-- Public -->
      <th style="min-width: 12rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_PUBLIC">Public</th>

      <!-- Verified -->
      <th style="min-width: 12rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_VERIFIED">Verified</th>

      <!-- Revision -->
      <th style="min-width: 8rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_REVISION">Revision</th>

      <!-- Released -->
      <th style="min-width: 12rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_RELEASED">Released</th>

      <!-- Reference code -->
      <th style="min-width: 12rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_REFERENCE_CODE">Reference code</th>

      <!-- Description -->
      <th style="min-width: 20rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_DESCRIPTION">Description</th>

      <!-- Biography -->
      <th style="min-width: 32rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_BIOGRAPHY">Biography</th>

      <!-- Tag -->
      <th style="min-width: 16rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_TAG">Tag</th>

      <!-- Background -->
      <th style="min-width: 16rem" i18n="@@COLUMN_LABEL_MANAGE_ARTIST_BACKGROUND">Background</th>
    </tr>
  </ng-template>
  <ng-template #body let-artist>
    <tr>
      <!-- Checkbox -->
      <td style="width: 4rem">
        <p-tableCheckbox [value]="artist" />
      </td>

      <!-- Action Buttons -->
      <td style="min-width: 12rem">
        <!-- Edit -->
        <p-button
          severity="success"
          icon="pi pi-pencil"
          [rounded]="true"
          [outlined]="true"
          (click)="handleEditArtist(artist)"
        />

        <!-- Release -->
        <p-button
          class="ml-2"
          icon="pi pi-bolt"
          severity="success"
          [rounded]="true"
          [outlined]="true"
          (click)="handleReleaseArtist(artist)"
        />

        <!-- Delete -->
        <p-button
          class="ml-2"
          icon="pi pi-trash"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (click)="handleDeleteArtist(artist)"
        />
      </td>

      <!-- ID -->
      <td>
        <p style="width: 8rem">{{ artist.id }}</p>
      </td>

      <!-- Thumbnail -->
      <td style="min-width: 8rem">
        <p-image
          [preview]="true"
          class="rounded"
          imageClass="rounded object-cover w-20 h-20"
          [src]="artist.profile.thumbnailUrl"
          [alt]="artist.profile.name + '\'s thumbnail'"
        />
      </td>

      <!-- Name -->
      <td style="min-width: 12rem">{{ artist.profile.name }}</td>

      <!-- Nationality -->
      <td style="min-width: 12rem">
        <span
          [class]="
            'fi fi-' +
            (![UNDEFINED, null].includes(artist.profile.nationalityIsoCode)
              ? artist.profile.nationalityIsoCode
              : 'xx'
            ).toLowerCase()
          "
        ></span>
        <span class="ml-2"> {{ artist.profile.nationalityIsoCode | artistNationalityName }}</span>
      </td>

      <!-- Public -->
      <td style="min-width: 12rem">
        <p-tag
          [icon]="'pi ' + (artist.isPublic ? 'pi-check' : 'pi-times')"
          [value]="artist.isPublic ? I18N_IS_PUBLIC_TRUE : I18N_IS_PUBLIC_FALSE"
          [severity]="artist.isPublic ? 'success' : 'danger'"
        />
      </td>

      <!-- Verified  -->
      <td style="min-width: 12rem">
        <p-tag
          [icon]="'pi ' + (artist.isVerified ? 'pi-check' : 'pi-times')"
          [value]="artist.isVerified ? I18N_IS_VERIFIED_TRUE : I18N_IS_VERIFIED_FALSE"
          [severity]="artist.isVerified ? 'success' : 'danger'"
        />
      </td>

      <!-- Revision -->
      <td style="min-width: 8rem">
        {{ artist.revisionNumber }}
      </td>

      <!-- Released -->
      <td style="min-width: 12rem">
        <p-tag
          [icon]="'pi ' + (artist.isReleased ? 'pi-check' : 'pi-times')"
          [value]="artist.isReleased ? I18N_IS_RELEASED_TRUE : I18N_IS_RELEASED_FALSE"
          [severity]="artist.isReleased ? 'success' : 'danger'"
        />
      </td>

      <!-- Reference code -->
      <td style="min-width: 12rem">
        {{ artist.refCode }}
      </td>

      <!-- Description -->
      <td style="min-width: 20rem">{{ artist.profile.description }}</td>

      <!-- Biography -->
      <td style="min-width: 32rem" [innerHTML]="artist.profile.biography | safeHtmlPipe"></td>

      <!-- Tag -->
      <td style="min-width: 16rem">
        <div class="flex items-center gap-x-1">
          @for (tag of artist.tags; track tag.name) {
            <p-tag [value]="tag.name" [severity]="'info'" />
          }
        </div>
      </td>

      <!-- Background -->
      <td style="min-width: 16rem">
        <p-image
          [preview]="true"
          styleClass="rounded object-cover h-20"
          class="rounded"
          [src]="artist.profile.backgroundUrl"
          [alt]="artist.profile.name + '\'s background.'"
        />
      </td>
    </tr>
  </ng-template>
  <!-- <p-confirm-popup key="btn-delete-at-row"/> -->
</p-table>

<form [formGroup]="artistFormGroup" (ngSubmit)="handleSaveArtist()">
  <p-dialog
    [(visible)]="isDialogShowed"
    [style]="{ width: 'clamp(400px, 90vw, 800px)' }"
    i18n-header="@@DIALOG_LABEL_ARTIST_DETAIL"
    header="Artist details"
    [modal]="true"
  >
    <ng-template #content>
      <!-- Profile details -->
      <p-panel i18n-header="@@FORM_SECTION_ARTIST_PROFILE_DETAIL" header="Profile details">
        <div class="flex items-center-start gap-4">
          <div class="w-64 h-64">
            <!-- Thumbnail -->
            <p-image
              [src]="
                renderableImageUrls.includes(thumbnailUrlFormControl.value)
                  ? thumbnailUrlFormControl.value
                  : 'asset/image/default-artist-thumbnail-image.png'
              "
              styleClass="w-full h-full"
              imageClass="block m-auto w-full h-full object-cover rounded"
              [preview]="true"
            />
          </div>
          <div class="flex-1">
            <!-- Name -->
            <div class="flex-1">
              <p-floatlabel variant="on" class="w-full">
                <input id="name" ng-invalid ng-dirty pInputText formControlName="nameFormControl" class="w-full" />
                <label i18n="@@FORM_LABEL_ARTIST_NAME" for="name">Name</label>
              </p-floatlabel>
              @if (nameFormControl.invalid && nameFormControl.dirty) {
                <small id="name-help" class="inline-block px-2">
                  Name is required, the length does not exceed 250 characters.
                </small>
              } @else {
                <small id="name-help" class="inline-block px-2"></small>
              }
            </div>

            <div class="flex justify-between mt-2 w-full">
              <!-- Nationality -->
              <div class="flex-1">
                <p-floatlabel variant="on">
                  <p-select
                    id="nationality"
                    formControlName="nationalityIsoCodeFormControl"
                    [options]="artistNationalities"
                    optionValue="code"
                    optionLabel="name"
                    placeholder=""
                    class="w-full"
                    showClear
                  >
                    <ng-template #selectedItem let-selectedNationality>
                      <span [class]="'fi fi-' + selectedNationality.code.toLowerCase()"></span>
                      <span class="ml-2"> {{ selectedNationality.code | artistNationalityName }}</span>
                    </ng-template>
                    <ng-template let-nationality #item>
                      <span [class]="'fi fi-' + nationality.code.toLowerCase()"></span>
                      <span class="ml-2"> {{ nationality.code | artistNationalityName }}</span>
                    </ng-template>
                  </p-select>
                  <label i18n="@@FORM_LABEL_ARTIST_NATIONALITY" for="nationality">Nationality</label>
                </p-floatlabel>
                @if (nationalityIsoCodeFormControl.invalid && nationalityIsoCodeFormControl.dirty) {
                  <small id="nationality-help" class="inline-block px-2"></small>
                } @else {
                  <small id="nationality-help" class="inline-block px-2"></small>
                }
              </div>

              <!-- Reference code -->
              <div class="ml-2 flex-1">
                <p-floatlabel variant="on">
                  <input
                    id="refCode"
                    ng-invalid
                    ng-dirty
                    pInputText
                    formControlName="refCodeFormControl"
                    class="w-full"
                  />
                  <label i18n="@@FORM_LABEL_ARTIST_REF_CODE" for="refCode">Reference code</label>
                </p-floatlabel>
                @if (refCodeFormControl.invalid && (refCodeFormControl.dirty || refCodeFormControl.touched)) {
                  <small id="refCode-help" class="inline-block px-2">
                    Reference code is optional, the length does not exceed 100 characters.
                  </small>
                } @else {
                  <small id="refCode-help" class="inline-block px-2"></small>
                }
              </div>
            </div>

            <div class="mt-2">
              <!-- Description -->
              <p-floatlabel variant="on" class="w-full">
                <textarea
                  id="description"
                  pTextarea
                  rows="3"
                  ng-invalid
                  ng-dirty
                  pInputText
                  formControlName="descriptionFormControl"
                  class="w-full"
                ></textarea>
                <label i18n="@@FORM_LABEL_ARTIST_DESCRIPTION" for="description">Description</label>
              </p-floatlabel>
              @if (descriptionFormControl.invalid && descriptionFormControl.dirty) {
                <small id="description-help" class="inline-block px-2">
                  Description is optional, the length does not exceed 250 characters.
                </small>
              } @else {
                <small id="description-help" class="inline-block px-2"></small>
              }
            </div>

            <!-- Thumbnail URL -->
            <div class="mt-2">
              <p-floatlabel variant="on" class="w-full">
                <input
                  id="thumbnailUrl"
                  ng-invalid
                  ng-dirty
                  pInputText
                  formControlName="thumbnailUrlFormControl"
                  class="w-full"
                />
                <label i18n="@@FORM_LABEL_ARTIST_THUMBNAIL_URL" for="thumbnailUrl">Thumbnail link</label>
              </p-floatlabel>
              @if (
                thumbnailUrlFormControl.invalid && (thumbnailUrlFormControl.dirty || thumbnailUrlFormControl.touched)
              ) {
                <small id="thumbnailUrl-help" class="inline-block px-2"
                  >Please enter the correct URL link format.</small
                >
              } @else {
                <small id="thumbnailUrl-help" class="inline-block px-2"></small>
              }
            </div>
          </div>
        </div>
      </p-panel>

      <p-panel styleClass="mt-4" i18n-header="@@FORM_SECTION_ARTIST_ATTRIBUTE" header="Control attributes">
        <div class="flex items-center gap-4 w-full">
          <!-- Public -->
          <div>
            <p-checkbox formControlName="isPublicFormControl" [binary]="true" inputId="isPublic" />
            <label i18n="@@FORM_LABEL_ARTIST_IS_PUBLIC" for="isPublic" class="ml-2">Public</label>
          </div>

          <!-- Tag -->
          <p-multiselect
            class="flex-1"
            [options]="this.currentArtistAttribute.tags"
            formControlName="tagsFormControl"
            i18n-placeholder="@@FORM_LABEL_ARTIST_TAG_EDIT"
            placeholder="Edit tags"
            optionLabel="name"
            optionValue="name"
            styleClass="w-full md:w-80"
            display="chip"
            i18n-emptyFilterMessage="@@MESSAGE_NO_RESULT_FOUND"
            emptyFilterMessage="No results found."
            [filterValue]="currentArtistAttribute.tagFilterKeyword || ''"
            (onFilter)="handleTagFilter($event)"
          >
            <ng-template #header>
              <div class="font-medium px-3 py-2">Tag</div>
            </ng-template>
            <ng-template #footer>
              @if (!currentArtistAttribute.tagFilterFoundExactMatch) {
                <div [style]="{ padding: 'var(--p-multiselect-list-padding)' }">
                  <p-button severity="secondary" text size="small" styleClass="w-full" (onClick)="handleCreateTag()">
                    <i class="pi pi-plus"></i>
                    <span>
                      Add tag
                      <span>'{{ currentArtistAttribute.tagFilterKeyword }}'</span>
                    </span>
                  </p-button>
                </div>
              }
            </ng-template>
            <ng-template let-tag #item>
              <div class="flex items-center gap-2">
                <p>{{ tag.name }}</p>
              </div>
            </ng-template>
            <ng-template #dropdownicon>
              <i class="pi pi-tags"></i>
            </ng-template>
            <ng-template #filtericon>
              <i class="pi pi-hashtag"></i>
            </ng-template>
          </p-multiselect>
        </div>
      </p-panel>

      <!-- Biography -->
      <p-editor
        id="biography"
        formControlName="biographyFormControl"
        i18n-placeholder="@@FORM_LABEL_ARTIST_BIOGRAPHY"
        placeholder="Biography"
        styleClass="mt-4"
      />

      <p-panel styleClass="mt-4" i18n-header="@@FORM_SECTION_ARTIST_BACKGROUND" header="Background">
        <!-- Background -->
        @if (renderableImageUrls.includes(thumbnailUrlFormControl.value)) {
          <div>
            <p-image
              styleClass="w-ful"
              [src]="backgroundUrlFormControl.value"
              imageClass="block m-auto w-full h-full object-cover rounded"
              [preview]="true"
            />
          </div>
        }
        <!-- Backround URL -->
        <div class="mt-2">
          <p-floatlabel variant="on" class="w-full">
            <input
              id="backgroundUrl"
              ng-invalid
              ng-dirty
              pInputText
              formControlName="backgroundUrlFormControl"
              class="w-full"
            />
            <label i18n="@@FORM_LABEL_ARTIST_BACKGROUND_URL" for="backgroundUrl">Backround link</label>
          </p-floatlabel>
          @if (
            backgroundUrlFormControl.invalid && (backgroundUrlFormControl.dirty || backgroundUrlFormControl.touched)
          ) {
            <small id="backgroundUrl-help" class="inline-block px-2">Please enter the correct URL link format.</small>
          } @else {
            <small id="backgroundUrl-help" class="inline-block px-2"></small>
          }
        </div>
      </p-panel>
    </ng-template>
    <ng-template #footer>
      <div>
        <p-button
          i18n-label="@@BUTTON_LABEL_CANCEL"
          label="Cancel"
          icon="pi pi-times"
          text
          (click)="handleHideArtistDialog()"
        />
        <p-button
          type="submit"
          [disabled]="!artistFormGroup.valid"
          i18n-label="@@BUTTON_LABEL_SAVE"
          label="Save"
          icon="pi pi-check"
        />
      </div>
    </ng-template>
  </p-dialog>
</form>

<p-confirmdialog [style]="{ width: 'clamp(320px, 60vw, 540px)' }" />
<p-toast position="top-right" />
