APP_HOST=0.0.0.0
APP_PORT=6200
DATABASE_VENDOR=postgresql+psycopg
DATABASE_HOST=localhost
DATABASE_PORT=16200
DATABASE_USERNAME=echovibe_product
DATABASE_PASSWORD=echovibe_product
DATABASE_NAME=echovibe_product
KAFKA_BROKER_BOOTSTRAP_SERVER_URLS=infras.echovibe.io.vn:9092
APP_WEB_CORS_ALLOWEDORIGINPATTERNS="*"
APP_WEB_CORS_ALLOWEDMETHODS="*"
APP_WEB_CORS_ALLOWEDHEADERS="*"
APP_WEB_CORS_ALLOWCREDENTIALS=True
APP_WEB_CORS_MAXAGE=60000
REDIS_URL=redis://<username>:<password>@<host>:<port>/0
